<div class="container" style="max-width: 400px; margin: auto">

  <form autocomplete="off" #f="ngForm">
    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12 ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input pInputText type="email" name="usuario" placeholder="E-mail" [(ngModel)]="user" ngModel required #usuario>
      </div>

      <div class="ui-g-12 ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
        <input pInputText type="password" name="senha" placeholder="Senha" [(ngModel)]="password" ngModel required
          #senha>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Login" [disabled]="!f.valid" (click)="login(usuario.value, senha.value);"></button>
      </div>



      <div class="ui-g-12"><br></div>
      <div class="ui-g-12"><br></div>


      <div class="ui-g-12 ui-inputgroup">
        <h3 style="align-content: center;">ASSINE NOSSA NEWSLETTER!</h3>
      </div>

      <div class="ui-g-12 ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-at"></i></span>
        <input pInputText type="email" name="email" placeholder="e-mail" ngModel #email>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Inscrever-se" (click)="subscribe(email.value);"></button>
      </div>

    </div>
  </form>

</div>