<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Dashboard</h1>
    </div>

    <div class="ui-g-12 ui-md-12">
      <p-card>
          <H1>Corrente: {{sensor.current}}A</H1>
      </p-card>

      <p-card>
          <H2>Temperatura: {{ sensor.temperature}}ºC</H2>
      </p-card>

      <p-card>
          <h2>Humidade: {{sensor.humidity}}%</h2>
      </p-card>

      <p-card>
          <h2>Bateria:  {{sensor.vBat}}V</h2>
      </p-card>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Corrente">
        <p-chart type="line" [data]="lineChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Temperatura">
        <p-chart type="doughnut" [data]="pieChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

  </div>
</div>
