/*body {
    background-color: darkslategrey;
    text-decoration-color: lightgray;
}

h1 {
    text-decoration-color: lightgray;
} */

.container {
    text-align: center;
}

.height {
    height: 90%;
}

.text-middle {
    text-decoration-color: darkslategray;
    font-weight: bold;
    text-align: center !important;    
}

.align-center {    
    align-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.space {
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.margin {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 3px;
}

.margin-smooth {
    border: 2px solid rgb(212, 212, 212);
    border-radius: 3px;
    padding: 1%;
    margin: 1%;
    height: 100%;
}

.margin2 {    
    border: 1px solid rgb(32, 136, 255);
}

.margin3 {    
    border: 1px solid rgb(39, 255, 32);
}


/*.title {
    text-decoration-color: lightgray;
}*/

.ui-card .ui-card-content {
    color: darkslategray;
}