<div class="container">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1 class="title">Dashboard - AR CONDICIONADO</h1>
    </div>

    <div class="ui-g-12 ui-md-12 card">
      <div class="ui-g-8 ui-md-4">
      <p-card>
          <h5>Corrente: {{sensor.current}}A</h5>
      </p-card>
    </div>

    <div class="ui-g-8 ui-md-4 card">
      <p-card>
          Temperatura: {{ sensor.temperature}}ºC
      </p-card>

      <p-card>
          Humidade: {{sensor.humidity}}%
      </p-card>

      <p-card>
          Bateria:  {{sensor.vBat}}V
      </p-card>
    </div>

    <div class="ui-g-4 ui-md-4">
        <p-card>
            <div>Status: </div>
            <br>
            <div [(ngModel)]="sensor.irregularity"
            *ngIf="!sensor.irregularity; then true_content else false_content"></div>   
            <ng-template #true_content>NORMAL</ng-template>
            <ng-template #false_content>ANOMALIA DETECTADA!</ng-template>
        </p-card>
    </div>

    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Corrente">
        <p-chart type="line" [data]="lineChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Temperatura">
        <p-chart type="bar" [data]="pieChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

  </div>
</div>
