<div class="container">
  <form>

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>
      
      <div class="ui-g-12 ui-fluid">
        <label for="">Nome</label>
        <input pInputText type="text" name="nome"
          ngModel #nome="ngModel" required minlength="5">
          
          <app-message [control]="nome" error="required"
            text="Campo obrigatório.">
          </app-message>
          <app-message [control]="nome" error="minlength"
            text="Número mínimo de caracteres: {{nome.errors?.minlength?.requiredLength}}.">
          </app-message>   
      </div>
      
      <div class="ui-g-12 ui-md-9 ui-fluid">
          <label for="">Logradouro</label>
          <input pInputText type="text" name="logradouro"
          ngModel #logradouro="ngModel" required>
          
          <app-message [control]="logradouro" error="required"
            text="Campo obrigatório.">
          </app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label for="">Número</label>
          <input pInputText type="text" name="numero"
          ngModel #numero="ngModel" required>
        
          <app-message [control]="numero" error="required"
            text="Campo obrigatório.">
          </app-message>
        </div>
        
      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label for="">Complemento</label>
          <input pInputText type="text">
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label for="">Bairro</label>
          <input pInputText type="text" name="bairro"
            ngModel #bairro="ngModel" required>
        
          <app-message [control]="bairro" error="required"
            text="Campo obrigatório.">
          </app-message>
        </div>
        
      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label for="">CEP</label>
          <p-inputMask mask="99.999-999" name="cep"
            ngModel #cep="ngModel" required></p-inputMask>
                        
            <app-message [control]="cep" error="required"
              text="Campo obrigatório.">
            </app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label for="">Cidade</label>
          <input pInputText type="text" name="cidade"
            ngModel #cidade="ngModel" required>
        
          <app-message [control]="cidade" error="required"
            text="Campo obrigatório.">
          </app-message>
        </div>
        
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label for="">Estado</label>
          <input pInputText type="text" name="estado"
          ngModel #estado="ngModel" required>
        
          <app-message [control]="estado" error="required"
            text="Campo obrigatório.">
          </app-message>
        </div>
        
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin: 0.5%"></button>
        <button pButton type="submit" class="ui-button-info" label="Novo" style="margin: 0.5%"></button>
        <a href="">Retornar</a>
      </div>

    </div>
  </form>
</div>  